.course{
    color: white;
    background: #A35435;
    border-radius: 5%;
    
}
.cheading{
    text-align: center;
    background: #FFF700;
}

body{
    background: #3F892C;
}
.present-status{
    color: yellowgreen;
}
.absent-status{
    color: red;
}

.welcome{
    text-align: center;
}

.signIn{
    color: white;
}

.course_essen{
    text-align: center;
}